.homepage {
  //   min-height: 30vh;
  //   border: solid pink 2px;
  //   font-family: "Anonymous Pro", monospace;

  // background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Anonymous Pro", monospace;
  // font-size: calc(10px + 2vmin);
  color: #ffffff;
  background-image: url(https://unice.pixelstrapthemes.vercel.app/assets/images/app_landing1/header-1-bg.png);
  background-size: cover;
  // background-position: center center;

  // border: #00c8ff solid 2px;
  .titles {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;

    h3 {
      color: #ffffff;
    }
  }
}
