@import "../../variables";

.home-landing {
  height: 100vh;
  display: flex;
  align-items: center;
}
.home-body {
  //   margin-top: 200px;
  text-align: left;
  color: $white;
}
.bg {
  // background-image: url(https://unice.pixelstrapthemes.vercel.app/assets/images/app_landing1/header-1-bg.png);

  // background: rgb(19, 184, 234);
  // background: linear-gradient(90deg, $mtnnavy 0%, $mtnpurple 100%);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}
.greeting {
  font-size: 2em;
}
.big-heading {
  font-family: "Bebas Neue", cursive;
  font-size: 10em;
}
.sub-heading {
  font-size: 3em;
  margin-top: -40px;
}
.side-nav {
  z-index: 999;
  display: flex;

  position: fixed;
  margin-top: -180px;
  color: #4831d4;
  right: 4em;
  width: 40px;
  ul {
    width: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
  }
  ul::before,
  ul::after {
    content: "";
    width: 1px;
    height: 40px;
    margin-bottom: 8px;
    background-color: $gray1;
  }
  .side-link {
    display: flex;
    width: inherit;
    cursor: pointer;
    min-height: 2em;
    position: relative;
    color: $gray1;
    transition-delay: 100ms;
    outline-color: transparent;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    border-radius: 0;
    border: none;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
  }
  .side-link::after {
    content: "";
    width: 100%;
    height: 0.523em;
    position: absolute;
    // border: 1px solid $mtnscrub;
    transition: transform 0.2s 100ms;
  }
  .side-link:hover {
    transform: scale(1.5);
    transition: all 200ms;
    color: $bluehilight;
  }
}
