@import "../../variables";
header {
  // position: absolute;
  z-index: 600;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  margin-bottom: auto;
  width: 100%;
}

.navbar {
  padding: 30px 0;
  background-color: $charcoal1op;
}
.container {
  max-width: 1140px;
}
.navbar-brand {
  font-size: 2rem;
  // font-family: "Anonymous Pro", monospace;
}
.nav-num {
  font-size: 0.7em;
  color: $bluehilight;
}

.navbar-dark .navbar-nav .nav-link {
  color: $gray2;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: $gray2;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: $gray2;
}
.navbar-dark .navbar-nav .nav-link.active:hover {
  color: $gray2;
}

.nav-section {
  @include hyperlink;
}
