.header {
  // position: absolute;
  font-family: "Anonymous Pro", monospace;
  // border: dotted 2px black;
  // max-width: 1140px;
  // background-color: purple;

  // flex-direction: row;
  // align-items: center;
  // justify-content: space-evenly;
  margin-bottom: auto;

  // background-color: #4f4f4f;
  // border: dotted 2px black;
  width: 100%;
}
