@import "../../variables";

.footer {
  min-height: 8vh;
  // background-color: $mtnnavy;
  // color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px $charcoal2;
}
