// Override default variables before the import
// $body-bg: rgb(212, 57, 255);
@import "./variables";
$theme-colors: (
  "primary": $gray2,
  "secondary": $gray2,
  "success": #76c1d4,
  "gray": #f7f7f7,
);
// $font-family-monospace: "Anonymous Pro", monospace;

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
